body {   
    font-family: "Gothic A1",'Courier New', Courier, monospace;
    background-color: lightblue;
    padding: var(--space-big);
    max-width: 960px;
    margin: 0 auto;
}

.subtitle {
    color:var(--color-gray);
    font-weight: bold;
    text-transform: uppercase;
}

@media (min-width: 750px) {

}